/***********
TODO:
All pages:
- Fix responsiveness (ie. the main nav
- Add more formats to @font-face to support more browsers WOFF and WOFF2, TTF, and EOT
- Add fallback fonts
- page load transition effect
- Entrance effect

Index page:
- Mouse change when project is hovered
- Thumbnails

Project pages:
- Main nav collapse


************/

/* =============== Fonts =============== */

@font-face {
    font-family: 'Helvetica Regular';
    src: url('../fonts/Helvetica\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PolySans Bulky';
    src: url('../fonts/PolySans\ Bulky.ttf') format('truetype');
}

/* ============ Animations ============= */

/* main navigation underline hover effect */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* project navigation opacity hover effect */
#proj-nav li {
    color: black;
    transition: color 0.3s;
}

#proj-nav:hover li {
    opacity: 0.2;
}

#proj-nav li:hover {
    opacity: 1;
}

/* Star Pulsing animation */
.star {
    animation: pulse 3s linear infinite;
    transform-origin: center center;
}

@keyframes pulse {
    0% {
        transform: scale(.3) rotate(0deg);
    }

    50% {
        transform: scale(1) rotate(180deg);
    }

    /* 40% {
        transform: scale(1) rotate(180deg);
      }

      60% {
        transform: scale(1) rotate(180deg);
      } */
    100% {
        transform: scale(.3) rotate(360deg);
    }
}

/* Page transition */
.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.5s ease-in-out;
    z-index: 2;
}

/* ========= Global Styles ========= */

body {
    background: #EFEDE9;
    font-family: 'Helvetica Regular', sans-serif;
    line-height: 1.4rem;
    font-size: .95rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PolySans Bulky', sans-serif;
    line-height: 2rem;
}

p {
    font-family: 'Inter', sans-serif;
    line-height: 1.75rem;
    font-size: 1rem;
    letter-spacing: -.025rem;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding-inline-start: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 40px 70px 0 70px;
    padding: 0 0 40px 0;
    width: calc(100% - 140px);
}

.navigation {
    list-style-type: none;
    font-family: 'PolySans Bulky', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh -100px);
    margin: 0 70px;
}

/* Hide Scroll Bar */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.project-page {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Custom Scroll Bar Style*/
/* ::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    background-clip: content-box;
} 
*/


/* ========= Index Page Style ========= */
.index-page {
    position: relative;
    min-height: 100vh;
}

/* .content {
    padding: 100px;
} */


#proj-nav li {
    margin: 15px 0px;
}

#proj-nav a {
    display: flex;
    align-items: flex-start;
}

#proj-nav span {
    line-height: .75;
}

.proj-num {
    padding-right: .4rem;
    padding-top: .5rem;
}

.proj-title {
    font-size: 4rem;
    /* padding-left: 5px; */
}

#number-01 {
    padding-right: .6rem;
}

.bottom-sec {
    margin: 0 70px 40px 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
    bottom: 0;
}

.container-centered {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-nav {
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    line-height: 1.7rem;
    height: auto;
    text-align: right;
    padding-bottom: .2rem;
}

.hover_img a {
    position: relative;
}

.hover_img a img {
    position: fixed;
    z-index: 99;
    top: 50%;
    right: 70px;
    /* transform: rotate(-5deg) translate(0%, -50%); */
    opacity: 0;
    transform: translate(4%, -50%);
    transition: transform .6s, opacity .6s;
}

.hover_img a:hover img {
    opacity: 1;
    transform: translate(0%, -50%);
}

/* ========= Project Page Style ========= */
.project-page .header {
    justify-content: right;
}

.project-page .fixed {
    position: fixed;
    z-index: 1000;
}

.project-page .proj-desc {
    position: relative;
    height: 18rem;
    width: 47vw;
    padding: 200px 0 0 70px;
}

/* Info List */
.project-page .info-list {
    font-family: 'Inter', sans-serif;
    line-height: 1.75rem;
    font-size: 1rem;
    letter-spacing: -.025rem;
    max-width: 40rem;
    /* line-height: 1.5rem; */
    display: grid;
    grid-template-columns: 1.5fr 3fr 2fr;
    padding-top: 7rem;
}

.info-list .columns>div {
    padding: .4rem 0;
}

.info-list .col-1 {
    font-weight: bold;
}

.info-list .col-2>div {
    display: grid;
}

.info-list .two-rows {
    margin-bottom: 1.75rem;
}

.info-list .three-rows {
    margin-bottom: 2.6rem;
}

.info-list div:last-child {
    position: relative;
}

.info-list a {
    font-size: 1.3rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.project-page .hero-section {
    display: flex;
}

.project-page .hero-img {
    max-height: 100vh;
    max-width: 50vw;
    display: block;
}

.hero-img img {
    width: 100%;
}

.project-page .content {
    max-width: 950px;
    padding: 100px;
    margin: auto;
}

.feature {
    height: 97vh;
    background-size: 100vw;
    background-position: center;
    /* background-repeat: no-repeat; */
}

.feature-name {
    font-size: 5rem;
    line-height: 3.7rem;
    margin: 0px 0 100px 0;
}

#feature-1 .feature-name {
    color: #FFF4CB;
}

#feature-2 .feature-name {
    font-size: 4.5rem;
    color: #FFFFFF;
}

#feature-3 .feature-name {
    font-size: 3rem;
    color: #FBD236;
}

.column-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 70px;
    justify-content: space-between;
}

.col-2 img {
    max-width: 70%;
}

#feature-1 {
    background-image: url('../images/RecipeRecooked/Feature_bg_1.png');

}

#feature-2 {
    background-image: url('../images/RecipeRecooked/Feature_bg_2.png');
}

#feature-3 {
    background-image: url('../images/RecipeRecooked/Feature_bg_3.png');
}

.flow-map {
    background-color: #2A2A2A;
}

.CTA {
    text-align: center;
    padding: 100px 0;
}

.CTA p {
    margin: 0;
}

footer {
    background-color: black;
    color: white;
}

footer .content {
    padding: 65px 100px 120px 100px;
    height: 200px;
}

footer a {
    color: white;
}

footer .hover-underline-animation {
    color: white;
}

footer .hover-underline-animation::after {
    background-color: white;
}

footer .column-container {
    grid-template-columns: 4fr 5fr 1.2fr;
    grid-column-gap: 0;
}

footer h2 {
    font-size: 1.8rem;
}

footer .tag {
    font-size: .8rem;
}

footer .tag span {
    outline: 2px solid;
}

.back-to-top {
    align-self: end;
}

.back-to-top a {
    display: flex;
    justify-content: space-between;
}

.project-page .main-nav {
    bottom: 0;
    overflow: hidden;
    /* height: 9rem; */
    height: 5rem;
    margin: 0 70px 40px 0;
}

.project-page .main-nav .checkbox {
    position: absolute;
    display: block;
    height: 21px;
    width: 30px;
    bottom: 0;
    right: 0;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.hamburger-lines {
    height: 21px;
    width: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger-lines .line {
    display: block;
    height: 3px;
    width: 100%;
    background: #0e2431;
}

/* Hamburger Animation */

.hamburger-lines .line1 {
    transform-origin: top right;
    transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
    transform-origin: bottom right;
    transition: transform 0.4s ease-in-out;
    width: 60%;
    margin-left: auto;
}

.project-page .navigation {
    transform: translate(100%);
    transition: transform 0.3s ease-in-out;
}

.project-page input[type="checkbox"]:checked~.navigation {
    transform: translateX(0);
}

.project-page .main-nav input[type="checkbox"]:checked~.hamburger-lines {
    transform: translateX(-2px);
}

.project-page .main-nav input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(-40deg);
}

.project-page .main-nav input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.project-page .main-nav input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(40deg);
    width: 100%;
}

.tag span {
    display: inline;
    margin-right: .8rem;
    padding: .5rem 1rem;
    outline: auto;
    border-radius: 50rem;
}

.project-page h1 {
    font-size: 3.5rem;
    line-height: .75;
    margin: 1.5rem 0;
}


/* ========= About Page Style ========= */
.about-page .content {
    margin-bottom: 40px;
}

.about-page .content>div {
    display: flex;
    margin: 0 auto;
    max-width: 80%;
}

.about-page .content>div>div {
    flex: 1;
    margin: 0 50 0 50;
}

.portrait {
    padding-right: 50px;
}

.about-page .bottom-sec {
    position: fixed;
    bottom: 0;
    right: 0;
}

.contact {
    padding: 20px 0;
}